<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/partials/partials.html :: head ('All Reviews')"></head>
<body>
  <!--NAV-->
  <nav th:replace="/partials/partials.html :: nav-component"></nav>

<div class="container w-75">

  <!--MAIN-->
  <section id="reviews">
      <div class="row">
        <!--REVIEW LIST-->
        <div class="col-md-9">
          <div class="mt-5 mb-3">
            <h4>Latest Reviews</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Thumb</th>
                <th>Rating</th>
                <th>Title / Review</th>
                <th>Link</th>
                <th>More</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="review : ${reviews}" >
                <td>
                  <img th:src="${review.thumb}" alt="alt pix" style="width: 100%">
                </td>
                <td th:text="${review.rating}" class="rating">Review Title</td>
                <td>
                  <div class="row">
                    <div class="col-12">
                      <span th:text="${review.title}">Review Title</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <span th:text="${stringService.reduceLength(review.reviewComments, 200)}">
                        Review Title
                      </span>
                    </div>
                  </div>
                </td>
                <td><a class="btn btn-primary" th:href="${review.url}">Link</a></td>
                <td>
                  <form th:action="@{/reviews/single}" th:method="post">
                    <input type="hidden" name="review-id" th:value="${review.id}">
                    <button class="btn btn-success">Read...</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--SIDE NAV-->
        <div class="col-md-3">
            <!--CARD 01-->
            <div class="card text-center bg-primary text-white mb-3 mt-5">
              <div class="card-body">
                <h3>Reviews</h3>
                <h4 class="display-4">
                  <i class="fas fa-pencil-alt"></i> <span th:text="${reviewSize}">00</span>
                </h4>
                <a href="#" class="btn btn-outline-light btn-sm">View</a>
              </div>
            </div>
            <!--CARD 02-->
            <div class="card text-center bg-success text-white mb-3">
              <div class="card-body">
                <h3>Categories</h3>
                <h4 class="display-4">
                  <i class="fas fa-folder"></i> 4
                </h4>
                <a href="#" class="btn btn-outline-light btn-sm">View</a>
              </div>
            </div>
            <!--CARD 03-->
            <div class="card text-center bg-warning text-white mb-3">
              <div class="card-body">
                <h3>Users</h3>
                <h4 class="display-4">
                  <i class="fas fa-users"></i> <span th:text="${userSize}">00</span>
                </h4>
                <a href="U" class="btn btn-outline-light btn-sm">View</a>
              </div>
            </div>
          </div>
      </div>

  </section>

  <!--SCRIPTS-->
  <section th:replace="/partials/partials.html :: script-section"></section>
  <script th:src="@{/js/app.js}"></script>

</div>
</body>
</html>