<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/partials/partials.html :: head ('Update Review')"></head>
<body>
    <!--NAV-->
    <nav th:replace="/partials/partials.html :: nav-component"></nav>

<div class="container">

    <!--HEADER-->
    <section th:replace="/partials/partials.html :: header-section ('Update Review')"></section>

    <!--MAIN-->
    <div class="container w-75">
        <form th:action="@{/reviews/create}" th:method="post" th:object="${review}">
            <!--title-->
            <div class="form-group">
                <label for="title" class="form-label mt-3 mb-1">Title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}">
            </div>
            <!--review-comments-->
            <div class="form-group">
                <label for="review-comments" class="form-label mt-3 mb-1">Your Review</label>
                <textarea type="text" class="form-control" id="review-comments" th:field="*{reviewComments}"></textarea>
            </div>
            <!--rating-->
            <div class="form-group mt-3">
                <label for="rating" >Rating</label>
                <select id="rating" class="form-select mt-1" name="rating">
                    <option selected value="-1">  </option>
                    <option value="0">🙅</option>
                    <option value="1">⭐️</option>
                    <option value="2">⭐️⭐️</option>
                    <option value="3">⭐️⭐️⭐️</option>
                    <option value="4">⭐️⭐️⭐️⭐️</option>
                    <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
                </select>
            </div>
            <!--url-->
            <div class="form-group">
                <label for="url" class="form-label mt-3 mb-1">Tutorial URL Address</label>
                <input type="url" class="form-control" id="url" placeholder="https://example.com" th:field="*{url}">
            </div>
            <!--thumb-->
            <div class="form-group mt-3">
                <label for="thumb">Where Tutorial Comes From</label>
                <select id="thumb" class="form-select mt-1" name="thumb">
                    <option selected>  </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/BitDegree.png">
                        BitDegree
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/CodeAvengers.png">
                        CodeAvengers
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/Codecademy.png">
                        Code Academy
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/CodeConquest.png">
                        CodeConquest
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/Coursera.png">
                        Coursera
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/EvatoTuts.png">
                        EvatoTuts
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/FutureLearn.png">
                        Future Learn
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/GeeksForGeeks.png">
                        Geeks for Geeks
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/Khan.png">
                        Khan
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/LinkedIn.png">
                        LinkedIn Learning
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/MIT.png">
                        MIT
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/Skillcrush.png">
                        Skill Crush
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/SoloLearn.png">
                        SoloLearn
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/TheOdenProject.png">
                        The Oden Project
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/Udemy.png">
                        Udemy
                    </option>
                    <option
                            value="http://localhost:8080/img/tut-thumbs/YouTube.png">
                        YouTube
                    </option>
                </select>
            </div>
            <!--submit-->
            <div>
                <button class="btn btn-primary w-100 mt-4">Submit</button>
            </div>
        </form>
    </div>

    <!--SCRIPTS-->
    <section th:replace="/partials/partials.html :: script-section"></section>
</div>
</body>
</html>