<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials.html :: head ('Review Page')"></head>
<body>
<div class="container">
    <!--NAV-->
    <nav th:replace="/partials/partials.html :: nav-component"></nav>

    <!--HEADER-->
    <section th:replace="/partials/partials.html :: header-section ('Review Page')"></section>

    <!--MAIN-->
    <ul>
        <li>
            <a href="/reviews/single">Go to Single Review</a>
        </li>
        <li>
            <a href="#">See all reviews</a>
        </li>
    </ul>

    <!--SCRIPTS-->
    <section th:replace="/partials/partials.html :: script-section"></section>
</div>
</body>
</html>