<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/partials/partials.html :: head ('Single Review')"></head>
<body>
<div class="container">
    <!--NAV-->
    <nav th:replace="/partials/partials.html :: nav-component"></nav>

    <!--HEADER-->
    <section th:replace="/partials/partials.html :: header-section ('Single Review')"></section>

    <!--MAIN-->
    <div class="container w-75">
        <div class="card">
            <div class="card-img text-center">
                <img th:src="${review.thumb}" alt="logo of the tutorial place" style="width: 50%">
            </div>
        </div>
        <div class="body">
            <div class="card-title h3" th:text="${review.title}">
                Title of Review
            </div>
            <div th:text="${review.reviewComments}">Comments here</div>
        </div>
        <div class="footer">
            <div><span th:text="${#authentication.principal.id}"></span></div>
            <div><span th:text="${review.user.id}"></span></div>
            <div th:if="${#authentication.principal.id eq review.user.id}">
                <form th:action="@{/reviews/edit}" th:method="post">
                    <input type="hidden" name="review-id" th:value="${review.id}">
                    <button class="btn btn-warning w-100 mt-3">Edit</button>
                </form>
                <form th:action="@{/reviews/delete}" th:method="post">
                    <input type="hidden" name="review-id" th:value="${review.id}">
                    <button class="btn btn-danger w-100 mt-3">Delete</button>
                </form>
            </div>

        </div>

    </div>
    <!--/*@thymesVar id="title" type="text"*/-->



    <!--SCRIPTS-->
    <section th:replace="/partials/partials.html :: script-section"></section>
</div>
</body>
</html>