<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/partials/partials.html :: head ('Login')"></head>
<body>
    <!--NAV-->
    <nav th:replace="/partials/partials.html :: nav-component"></nav>

<div class="container">

    <!--CONTAINER-->
    <div class="container w-50 d-flex flex-column align-content-center">

        <!--LOGIN-->
        <div class="card mt-5 w-100">
            <form th:action="@{/login}" method="post">
                <div class="card-header">
                    <div>
                        <h4 class="mt-2">Login</h4>
                    </div>
                    <div th:if="${param.error}" class="small text-muted">
                        Invalid Username and Password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="username" class="my-3 form-label">Username</label>
                        <input id="username" name="username" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="my-3 form-label">Password</label>
                        <input id="password" name="password" type="password" class="form-control" />
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Log In" class="w-100 btn btn-success" />
                </div>
            </form>
        </div>

        <!--SIGNUP-->
        <div class="card mt-5 w-100">
            <div class="card-body">
                <div class="card-title">
                    Not a member yet?  Sign up with our quick and easy form for additional features.  We promise not to sale your information or send you spam.
                </div>
                <div>
                    <a href="/user/sign-up" class="btn btn-primary my-4 w-100">Sign Up!</a>
                </div>
            </div>

        </div>

    </div>

    <!--SCRIPTS-->
    <section th:replace="/partials/partials.html :: script-section"></section>
</div>
</body>
</html>