<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials.html :: head ('signt-up')"></head>
<body>
<div class="container">
  <!--NAV-->
  <nav th:replace="/partials/partials.html :: nav-component"></nav>

  <!--HEADER-->
  <section th:replace="/partials/partials.html :: header-section ('sign-up')"></section>

  <!--MAIN-->
  <form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <input value="Sign me up!" type="submit" />
  </form>

  <!--SCRIPTS-->
  <section th:replace="/partials/partials.html :: script-section"></section>
</div>
</body>
</html>